---
import type { Brand } from '../../types/brand';
import { brands } from '../../data/brands';
import BrandCard from '../ui/BrandCard.astro';
---

<section class="py-10 md:py-16">
  <div class="mx-auto max-w-7xl w-full px-5 sm:px-8 md:px-14 lg:px-5 space-y-8">
    <div class="text-center max-w-3xl mx-auto">
      <h1 class="text-heading-1 font-semibold text-2xl sm:text-3xl md:text-4xl dark:text-white">
        Ils nous font confiance
      </h1>
    </div>
    <div class="flex justify-center flex-wrap gap-4">
      {brands.map((brand) => (
        <BrandCard brand={brand} />
      ))}
    </div>
  </div>
</section>