---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/Hero.astro';
import Services from '../components/sections/Services.astro';
import Solutions from '../components/sections/Solutions.astro';
import Stats from '../components/sections/Stats.astro';
import Brands from '../components/sections/Brands.astro';
import Features from '../components/sections/Features.astro';

import { Image } from 'astro:assets';
import ImageEquipe from '../assets/images/ImageEquipe.webp';
---

<Layout title="Social Media Agency">
  <main>
    <section class="relative pt-32 lg:pt-36 py-10 md:py-16">
      <div class="mx-auto max-w-7xl w-full px-5 sm:px-8 md:px-14 lg:px-5 flex flex-col lg:flex-row gap-10 lg:gap-12">
        <div class="relative flex flex-col items-center text-center lg:text-left lg:py-7 xl:py-8 lg:items-start lg:max-w-none max-w-3xl mx-auto lg:mx-0 lg:flex-1 lg:w-1/2">
          <h1 class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight xl:text-6xl/tight font-bold text-heading-1 dark:text-white">
            Ignite Your
            <span class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-20% via-primary via-30% to-green-600">
              Social <br /> Presence
            </span>
            with Us!
          </h1>
          <p class="md:text-lg text-heading-3 dark:text-gray-200 mt-8">
            Your journey to social media success begins here. Elevate your brand,
            engage your audience, and boost your business with our tailored social
            media marketing solutions.
          </p>
          <div class="mt-16 w-full flex flex-col">
            <div class="lg:mx-auto mb-5">
              <button class="px-6 py-3 rounded-full outline-none relative overflow-hidden border duration-300 ease-linear
                after:absolute after:inset-x-0 after:aspect-square after:scale-0 after:opacity-70 after:origin-center after:duration-300 after:ease-linear after:rounded-full after:top-0 after:left-0 after:bg-[#172554]
                bg-primary border-transparent relative after:bg-[#172554] hover:border-[#172554] hover:after:opacity-100 hover:after:scale-[2.5] min-w-max text-white">
                <span class="flex relative z-[5] text-center">Get Started Today</span>
              </button>
            </div>
            <div class="mx-auto">
              <section class="relative flex flex-col md:flex-row gap-2 lg:gap-5 text-heading-3 dark:text-gray-200 font-medium">
                <div class="flex items-center mx-auto">
                  <span class="font-bold rounded-full w-8 h-8 mr-2 text-primary inline-flex justify-center items-center">✓</span>
                  <div>Increased Visibility</div>
                </div>
                <div class="flex items-center mx-auto">
                  <span class="font-bold rounded-full w-8 h-8 mr-2 text-primary inline-flex justify-center items-center">✓</span>
                  <div>Engaged Audiences</div>
                </div>
                <div class="flex items-center mx-auto">
                  <span class="font-bold w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">✓</span>
                  <div>Measurable Impact</div>
                </div>
              </section>
            </div>
          </div>
        </div>
        <div class="flex flex-1 lg:w-1/2 lg:h-auto relative lg:max-w-none lg:mx-0 mx-auto max-w-3xl">
          <Image src = {ImageEquipe} alt="Hero image" class="lg:absolute lg:w-full lg:h-full rounded-3xl object-cover lg:max-h-none max-h-96" width="2350" height="2359" loading="lazy" />
        </div>
      </div>
      <Stats />
    </section>
  
    <Solutions />
    <Services />
    <Brands />
    <Features />
  </main>
</Layout>