---
import Header from '../components/ui/Header.astro';
import Footer from '../components/ui/Footer.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Agence de développement web" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  </head>
  <body class="overflow-hidden overflow-y-auto bg-body">
    <Header />
    <main class="flex flex-col overflow-hidden">
      <slot />
    </main>
    <Footer />
  </body>
</html>