---
interface Props {
  href: string;
  variant?: 'primary' | 'outline';
}

const { href, variant = 'primary' } = Astro.props;
---

<a
  href={href}
  class:list={[
    'px-6 py-3 rounded-full outline-none relative overflow-hidden border duration-300 ease-linear',
    {
      'bg-primary border-transparent text-white hover:border-[#172554] hover:after:opacity-100 hover:after:scale-[2.5]': variant === 'primary',
      'border-heading-2 hover:border-primary hover:text-primary dark:border-gray-200 dark:text-gray-200 dark:hover:text-primary': variant === 'outline'
    }
  ]}
>
  <slot />
</a>